<link rel="stylesheet" href="static/css/global.css">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="#">Eye to Eye</a>
  <div class="dropdown pull-right">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa">
        &#xf013;
      </i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/profile">Profile</a>
      <a class="dropdown-item" href="/profile">Settings</a>
      <a class="dropdown-item" href="/about">Help</a>
      <a class="dropdown-item" href="/logout">Log out</a>
    </div>
  </div>
</nav>
