<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="#">Eye to Eye</a>
  <div class="dropdown dropdown-left">
    <button class="btn dropdown-toggle dropdown-toggle-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa">
        &#xf013;
      </i>
    </button>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item dropdown-item-left" href="/about">About</a>
      <a class="dropdown-item dropdown-item-left" href="/profile">Profile</a>
      <a class="dropdown-item dropdown-item-left" href="/terms">Terms of Use</a>
      <a class="dropdown-item dropdown-item-left" href="/logout">Log out</a>
    </div>
  </div>
</nav>
