/******************/
/* Fonts and type */
/******************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

html {
 font-family: 'Open Sans', 'Arial', sans-serif;
 font-size: 18px;
 line-height: 1.6em;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;	
}

p {
  clear:both;
}

.very-small {
  font-size: 50%;
}

.small {
  font-size: 75%;
}

.large {
  font-size: 125%;
}

.very-large {
  font-size: 150%;
}

@font-face {
  font-family: digitalDisplay;
  src: url('../../fonts/digital-7.otf');
  src: url('../../fonts/digital-7.otf') format('otf'), url('../../fonts/digital-7.eot?#iefix') format('embedded-opentype'), url('../../fonts/digital-7.woff') format('woff');
}

/*******************************************/
/* Classes for changing location of things */
/*******************************************/

.left {
  float: left;
}

.right {
  float: right;
}

.center-content {
  text-align: center;
}

/***********************************************/
/* Form elements like input fields and buttons */
/***********************************************/

input[type="text"] {
  font-family: 'Open Sans', 'Arial', sans-sefif;
  font-size: 14px;
}

button {
  padding: 0.8em;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  color: #555;
  font-weight: bold;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  border:1px solid #ccc;
}

/*****************************/
/* Container holding content */
/*****************************/

.jspsych-display-element {
  width: 800px;
  margin: 50px auto 50px auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

/****************/
/* Progress bar */
/****************/

#js-progressbar-container {
  color: #777;
  border-bottom: 2px solid #dedede;
  background-color: #f3f3f3;
  margin-bottom: 1em;
  text-align: center;
  padding: 10px 0px;
}

#js-progressbar-container s {

}

#js-progressbar-outer {
  background-color: #dedede;
  border-radius: 5px;
  padding: 1px;
  width: 800px;
  margin: auto;
}

#js-progressbar-inner {
  background-color: #aaa; /* #3EB3D7; */
  width: 0%;
  height: 1em;
  border-radius: 5px;
}

/****************/
/* Instructions */
/****************/
.js-instructions-nav {
   text-align: center;
   margin-top: 2em;
 }
.js-instructions-nav button {
   margin: 20px;
 }
 
#js-single-stim-stimulus {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#js-top-stim-left, #js-top-stim-right {
  display: inline-block;
  width: 170px;
  height: 50px;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#js-top-stim {
  display: inline-block;
  width: 250px;
  height: 50px;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#js-top-stim-middle {
  display: inline-block;
  width: 65px;
  height: 50px;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#js-bottom-stim-left, #js-bottom-stim-right {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 170px;
  background-repeat: no-repeat;
  background-position: right bottom;
  font-size: 500%;
}
.js-bottom-stim-border:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 170px;
  left: 10px;
  top: -4px;
  border-style: dashed;
  border-width: 4px;
  border-color: rgba(0,0,0,1);
  z-index: -1;  /* to be below the parent element */
}

#js-bottom-stim {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center bottom;
  font-size: 500%;
}
.js-bottom-stim-border2:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 170px;
  left: -4px;
  top: -4px;
  border-style: dashed;
  border-width: 4px;
  border-color: rgba(0,0,0,1);
  z-index: -1;  /* to be below the parent element */
}

#js-bottom-stim-middle {
  display: inline-block;
  width: 170px;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#js-top-rewards {
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: digitalDisplay;
  color:#b8fff6;
  background-color:#0738db;
  border: 5px solid #197bff;
  border-radius: 10px;
  font-size: 200%;
  align: center;
}

#js-top-rewards-container {	
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: #197bff;
  border-radius: 10px;
  line-height: 50px;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

#js-top-rewards-text {
  display: inline-block;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  vertical-align: top;
}

/***************/
/* Survey Text */
/***************/
.js-survey-text {
     margin: 0.25em 0em;
}
.js-survey-text-question {
     margin: 2em 0em;
 }

.js-survey-likert-sliderlabels {
  font-size: 75%;
  line-height: 1.15em;
}
.js-survey-likert-question {
  margin-top: 2em;
  margin-bottom: 2em;
}
.js-survey-likert-text {
  text-align: center;
}
#js-survey-likert-next {
  display: block;
  margin: auto;
}
