
<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Eye to Eye</a>
        <a class="btn btn-primary" href="/login">Sign In</a>
    </div>
</nav>

<!-- About -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">

                    <h8>What is Eye to Eye?</h8>
                    <br><br>
                    <p class="lead mb-0" align="left">Eye to Eye is an nonpartisan application that enables you to have face-to-face conversation with strangers who have different views than your own. This app is a great way to connect with and listen to people with whom you disagree on certain topics. Your exposure to diverse opinions may help you better empathize with and understand (but not convince) people across the political aisle.</p>        
                    <br>
                    <p class="lead mb-0" align="left">Our aim is to make your experience as pleasant, civil, and informative as possible. Our hope is that you will walk out of your video chat more optimistic about humanity and with a clearer perspective on people with a different set of values or ideas.</p>
                    <br><br>
        </div>
        <div class="row">
                    <h8>Who is behind Eye to Eye?</h8>
                    <br><br>
                    <p class="lead mb-0" align="left">Eye to Eye was started in 2017 by twelve Harvard undergraduate students with the goal of mitigating the fragmentation of civil discourse in the United States, one respectful conversation at a time. Concerned by the divide between the left and right in our country, we decided to create a nonpartisan application that encourages strangers who have different ideas to listen and talk to each other. </p>        
                    <br><br>
        </div>
        <div class="row">

                    <h8>Is Eye to Eye for you?</h8>
                    <br><br>
                    <p class="lead mb-0" align="left">Are you tired of the vicious, heated, and unproductive discussions that happen on the internet? Do you wish you had an outlet for expressing your thoughts on certain topics and for hearing about opposing ideas, in the hope of alleviating some of the burden of segmentation in civil discourse that you may be carrying? Are you concerned about where our country will go if we continue to fail to communicate with each other? Do you want to help change the tone of political conversations between Americans? </p>  
                    <br /><br />

                    <p class="lead mb-0" align="left">If you answered yes to any questions, then Eye to Eye is for you!</p>
            </div> 

        </div>

    </div>
</section>


<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Ready to get started? Start <i>Discoursing</i> Now!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <a href="/login" class="btn btn-block btn-lg btn-primary">Start Chatting</a>

            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="/about-us">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="/terms-of-use">Terms of Use</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Harvard University 2017. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="https://www.facebook.com/Harvard" target="_blank">
                      <i class="fa fa-facebook fa-2x fa-fw"></i>
                    </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="https://twitter.com/Harvard" target="_blank">
                      <i class="fa fa-twitter fa-2x fa-fw"></i>
                    </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/harvard" target="_blank">
                      <i class="fa fa-instagram fa-2x fa-fw"></i>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
