<script type="text/javascript">
    const user = {{{user}}};
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
<link rel="stylesheet" href="/static/css/feedback.css">

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-12" style="height:100%;">
            <h1>Feedback from your Conversation</h1>
            <h4 id="identity">Please Rate your Conversation</h4>
            <div class="container">
                <div onmouseout="paintStars(selectedStarCount)" id="star-area">
                    <span id="star1" onmouseover="setHighlightStar(1)" onclick="setRatingStar(1)" class="fa icon-star"></span>
                    <span id="star2" onmouseover="setHighlightStar(2)" onclick="setRatingStar(2)" class="fa icon-star"></span>
                    <span id="star3" onmouseover="setHighlightStar(3)" onclick="setRatingStar(3)" class="fa icon-star"></span>
                    <span id="star4" onmouseover="setHighlightStar(4)" onclick="setRatingStar(4)" class="fa icon-star"></span>
                    <span id="star5" onmouseover="setHighlightStar(5)" onclick="setRatingStar(5)" class="fa icon-star"></span>
                </div>
            </div>

            <div id="badge-area" style="align: center;">
                <h4>Would you like to award any badges?</h4>
                        <td>
                <table>
                    <tr>
                        <td>
                            <span id="creative" onclick="changeSelected('creative')" class="fa icon-wrench"></span>
                            <p>Creative</p>
                        </td>
                        <td>
                            <span id="polite" onclick="changeSelected('polite')" class="fa icon-heart"></span>
                            <p>Polite</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="knowledgeable" onclick="changeSelected('knowledgeable')" class="fa icon-book"></span>
                            <p>Knowledgeable</p>
                        </td>
                        <td>
                            <span id="empathetic" onclick="changeSelected('empathetic')" class="fa icon-heart"></span>
                            <p>Empathetic</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="improvements-area" style="align: center;">
                <h4>Do you have any suggestions for improvement?</h4>
                <table>
                    <tr>
                        <td><input id='button-listening' onclick="changeButton('listening')" class="btn btn-outline-primary" type="button" value="Listening"></td>
                        <td><input id='button-respect' onclick="changeButton('respect')" class="btn btn-outline-primary" type="button" value="Respect"></td>
                        <td><input id='button-civility' onclick="changeButton('civility')" class="btn btn-outline-primary" type="button" value="Civility"></td>
                    </tr>
                    <tr>
                        <td><input id='button-cooperation' onclick="changeButton('cooperation')" class="btn btn-outline-primary" type="button" value="Cooperation"></td>
                        <td><input id='button-snowflake' onclick="changeButton('snowflake')" class="btn btn-outline-primary" type="button" value="Snowflake"></td>
                        <td><input id='button-other' onclick="changeButton('other')" class="btn btn-outline-primary" type="button" value="Other"></td>
                    </tr>
                </table>
            </div>

            <button id="submit" type="button" class="btn btn-outline-primary">Submit</button>
        </div>
    </div>
</div>

<script src="/static/js/feedback.js"></script>
