<script type="text/javascript">
    const user = {{{user}}};
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
<link rel="stylesheet" href="/static/css/feedback.css">

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-12" style="height:100%">
            <h1>Feedback for your Conversation</h1>
            <p class="error-warn"></p>
            <h4 id="identity">How would you rate your conversation?</h4>
            <div class="container">
                <div onmouseout="paintStars(selectedStarCount)" id="star-area">
                    <span id="star1" onmouseover="setHighlightStar(1)" onclick="setRatingStar(1)" class="fa icon-star"></span>
                    <span id="star2" onmouseover="setHighlightStar(2)" onclick="setRatingStar(2)" class="fa icon-star"></span>
                    <span id="star3" onmouseover="setHighlightStar(3)" onclick="setRatingStar(3)" class="fa icon-star"></span>
                    <span id="star4" onmouseover="setHighlightStar(4)" onclick="setRatingStar(4)" class="fa icon-star"></span>
                    <span id="star5" onmouseover="setHighlightStar(5)" onclick="setRatingStar(5)" class="fa icon-star"></span>
                </div>
            </div>
            <br>
            <div class="badge-area" style="align: center;">
                <h4>Would you like to award any badges?</h4>

                <div class="row" style="margin:2em">
                    <div class="col-md-3">
                        <span id="creative" style="display:block;" onclick="changeSelected('creative')" class="fa icon-wrench"></span>
                        <p>Creative</p>
                    </div>
                    <div class="col-md-3">
                        <span id="polite" style="display:block;" onclick="changeSelected('polite')" class="fa icon-heart"></span>
                        <p>Polite</p>
                    </div>
                    <div class="col-md-3">
                        <span id="knowledgeable" style="display:block;" onclick="changeSelected('knowledgeable')" class="fa icon-book"></span>
                        <p>Knowledgeable</p>
                    </div>
                    <div class="col-md-3">
                        <span id="empathetic" style="display:block;" onclick="changeSelected('empathetic')" class="fa icon-heart"></span>
                        <p>Empathetic</p>
                    </div>
                </div>
            </div>

            <div id="improvements-area" style="align: center;">
                <h4>Do you have any suggestions for improvement?</h4>
                <div class="row">
                    <div class="col-md-4">
                        <input id='button-listening' onclick="changeButton('listening')" class="btn btn-outline-primary" type="button" value="Listening">
                    </div>
                    <div class="col-md-4">
                        <input id='button-respect' onclick="changeButton('respect')" class="btn btn-outline-primary" type="button" value="Respect">
                    </div>
                    <div class="col-md-4">
                        <input id='button-civility' onclick="changeButton('civility')" class="btn btn-outline-primary" type="button" value="Civility">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input id='button-cooperation' onclick="changeButton('cooperation')" class="btn btn-outline-primary" type="button" value="Cooperation">
                    </div>
                    <div class="col-md-4">
                        <input id='button-snowflake' onclick="changeButton('snowflake')" class="btn btn-outline-primary" type="button" value="Snowflake">
                    </div>
                    <div class="col-md-4">
                        <input id='button-other' onclick="changeButton('other')" class="btn btn-outline-primary" type="button" value="Other">
                    </div>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#reportModal" data-whatever="@mdo">Report User</button>
            <div class="form-group" style="padding-left:100px; padding-right:100px;">
                <h4>Would you like to leave a message for your partner?</h4>
                <textarea onchange="setText(this.value)" style="overflow:auto; resize:none" class="form-control" rows="5" id="comment"></textarea>
            </div>

            <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reportModal">Report User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <p class="report-error-warn" style="color: red"></p>
                        <div class="modal-body">
                            <form>
                            <div class="form-group">
                                <label for="abuse-type" class="form-control-label">Abuse Type</label>
                                <select id="abuse-type" class="form-control" onchange="logAbuseType(this.value)">
                                    <option value="" disabled selected>Select abuse type...</option>
                                    <option value="Abusive-language">Explicit language</option>
                                    <option value="Explicit-imagery">Nudity</option>
                                    <option value="Rudeness">Rudeness</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">Comments</label>
                                <textarea class="form-control" id="message-text" onchange="logAbuseComment(this.value)"></textarea>
                            </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="submitAbuse" type="button" class="btn btn-danger" >Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <button id="submit" type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

<script src="/static/js/feedback.js"></script>
