<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Eye to Eye</a>
        <a class="btn btn-primary" href="/login">Sign In</a>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Let's chat, eye to eye.</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <a href="/login" class="btn btn-block btn-lg btn-primary">Continue with Facebook</a>
            </div>
        </div>
    </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-people m-auto text-primary"></i>
                    </div>
                    <h3>Video Chat</h3>
                    <p class="lead mb-0">Talk with with people you don't know!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-globe m-auto text-primary"></i>
                    </div>
                    <h3>Burst Your Bubble</h3>
                    <p class="lead mb-0">Hear a new perspective!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-book-open m-auto text-primary"></i>
                    </div>
                    <h3>Empathize Better</h3>
                    <p class="lead mb-0">See the humanity in the other side!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/login.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Start by logging in</h2>
                <p class="lead mb-0" align="center">No need to create an account. Just sign in with Facebook.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/img/opinions.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Tell us your opinions</h2>
                <p class="lead mb-0" align="center">We will use your opinions to match you to other people.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/talking.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Chat with other people</h2>
                <p class="lead mb-0" align="center">They will think something different than you - find out why!</p>
         </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Ready to see eye to eye?</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <a href="/login" class="btn btn-block btn-lg btn-primary">Start Chatting</a>

            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="/about-us">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="/terms-of-use">Terms of Use</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Harvard University 2017. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="https://www.facebook.com/Harvard" target="_blank">
                      <i class="fa fa-facebook fa-2x fa-fw"></i>
                    </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="https://twitter.com/Harvard" target="_blank">
                      <i class="fa fa-twitter fa-2x fa-fw"></i>
                    </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/harvard" target="_blank">
                      <i class="fa fa-instagram fa-2x fa-fw"></i>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
