<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="static/css/profile.css">

{{> nav}}

<div id="profile-container">
    <h1 id="user-hello"></h1>
    <div class="container">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" id="convo-button">Talk with Someone</button>
        </div>
    </div>
    <div class="tab">
        <button class="tablinks col-md-4 bottombar" onclick="openCity(event, 'My Questions')" id="defaultOpen">My Questions</button>
        <button class="tablinks col-md-4 bottombar" onclick="openCity(event, 'My Stats')">My Stats</button>
        <button class="tablinks col-md-4 bottombar" onclick="openCity(event, 'My History')">My History</button>
    </div>

    <div id="My Questions" class="tabcontent"> {{> questions }} </div>

    <div id="My Stats" class="tabcontent">
        <div class="holder">
            <h4>Your Statistics</h4>
            <hr>
            <div id="star-area">
                Average star rating:
                <span id="star1">&#9733;</span></span>
                <span id="star2">&#9733;</span></span>
                <span id="star3">&#9733;</span></span>
                <span id="star4">&#9733;</span></span>
                <span id="star5">&#9733;</span></span>
            </div>
            <div>
                Your conversation count: <span id="convo-count"></span>
            </div>
            <div id="badge-area" style="align: center;">
                See your badges:
                <table>
                    <tr>
                        <td>
                            <span id="creative" onclick="changeSelected('creative')" class="fa fa-wrench"></span>
                            <p>Creative<span id="creative-count"></span></p>
                        </td>
                        <td>
                            <span id="polite" onclick="changeSelected('polite')" class="fa fa-handshake-o"></span>
                            <p>Polite<span id="polite-count"></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="knowledgeable" onclick="changeSelected('knowledgeable')" class="fa fa-book"></span>
                            <p>Knowledgeable<span id="knowledgeable-count"></span></p>
                        </td>
                        <td>
                            <span id="empathetic" onclick="changeSelected('empathetic')" class="fa fa-heart"></span>
                            <p>Empathetic<span id="empathetic-count"></span></p>
                        </td>
                    </tr>
                </table>
            </div>
            <br/>
            <div>
                Click to view your friends leaderboards! (by clicking, you allow your friends to see your badges as well).
                <div id="leaderboard"></div>
            </div>
        </div>
    </div>

    <div id="My History" class="tabcontent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading c-list">
                            <h4>Previous Conversations</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group c-search">
                                    <input type="text" class="form-control" id="contact-list-search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="fa fa-search text-muted"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group row" id="contact-list">
                            <li class="list-group-item">
                                <div class="col-md-12">
                                    <img src="http://api.randomuser.me/portraits/men/97.jpg" alt="Jacob" class="img-responsive rounded-circle" />
                                </div>
                                <div class="col-md-12">
                                    <span class="name">Jacob</span><br/>
                                    <span class="fa fa-calendar text-muted c-info" data-toggle="tooltip" title="Date"></span>
                                    <span class="visible-xs"> <span class="text-muted">Date</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="Feedback Given"></span>
                                    <span class="visible-xs"> <span class="text-muted">Feedback Given</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="Feedback Received"></span>
                                    <span class="visible-xs"> <span class="text-muted">Feedback Received</span><br/></span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-md-12">
                                    <img src="http://api.randomuser.me/portraits/men/24.jpg" alt="Sam" class="img-responsive rounded-circle" />
                                </div>
                                <div class="col-md-12 col-sm-9">
                                    <span class="name">Sam</span><br/>
                                    <span class="fa fa-calendar text-muted c-info" data-toggle="tooltip" title="Date"></span>
                                    <span class="visible-xs"> <span class="text-muted">Date</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="Feedback Given"></span>
                                    <span class="visible-xs"> <span class="text-muted">Feedback Given</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="Feedback Received"></span>
                                    <span class="visible-xs"> <span class="text-muted">Feedback Received</span><br/></span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-md-12">
                                    <img src="http://api.randomuser.me/portraits/women/34.jpg" alt="Alex" class="img-responsive rounded-circle" />
                                </div>
                                <div class="col-md-12">
                                    <span class="name">Lisa</span><br/>
                                    <span class="fa fa-calendar text-muted c-info" data-toggle="tooltip" title="Date"></span>
                                    <span class="visible-xs"> <span class="text-muted">Date</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="Feedback Given"></span>
                                    <span class="visible-xs"> <span class="text-muted">Feedback Given</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="Feedback Received"></span>
                                    <span class="visible-xs"> <span class="text-muted">Feedback Received</span><br/></span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
        	</div>
        </div>
    </div>
</div>

<!-- JavaScript Search Plugin -->
<script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>

<script type='text/javascript'>
    var user = {{{ user }}};

    function paintStars(nStars) {
        // console.log(nStars);
        for (i = 1; i <= nStars; i++) {
            var elt = $('#star' + i.toString());
            elt.html('&#9733;');
        };
        for (i = nStars + 1; i <= 5; i++) {
            var elt = $('#star' + i.toString());
            elt.html('&#x2606');
        };
    }

    function countBadges(badgeName, person) {
        console.log('badgename');
        var count = 0;
        person.badges.forEach(function(d) {
            if (d.badge == badgeName) {
                count = d.count;
            }
        })
        return count;
    }

    function buildLeaderboard(leaders) {
        var start = '<table><tr><th>Friend</th><th>Empathetic</th><th>Polite</th><th>Knowledgeable</th><th>Creative</th><tr>';
        var s = '';
        leaders.forEach(friend => {
            s += '<tr><td>' + friend.name + '</td><td>' + countBadges('empathetic', friend) + '</td><td>' +
                countBadges('polite', friend) + '</td><td>' + countBadges('knowledgeable', friend) + '</td><td>' +
                countBadges('creative', friend) + '</td></tr>';
        });
        var end = '</table>';
        var final = start + s + end;
        console.log(final);
        return final;
    }

    function getLeaderboard() {
        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: '/profile/leaderboard',
            success: res => {
                console.log(res);
                $('#leaderboard')[0].innerHTML = buildLeaderboard(res);
            }
        })
    }

    function makePrettyDate(seconds){
        const minutes = Math.floor((seconds) / 60);
        const extraSeconds = Math.floor(seconds - minutes * 60) % 60;
        return minutes + ':' + extraSeconds;
    }

    function extraInfoFromChat(row){
        var [chat, name] = row

        var info = {};
        info.otherName = name;
        info.connectedDate = chat.connected.time;
        info.disconnectedDate = chat.disconnected.time;
        info.disconnectedReason = chat.disconnected.reason;
        info.duration = makePrettyDate((new Date(info.disconnectedDate) - new Date(info.connectedDate))/1000)

        info.feedbackReceived = {};
        info.feedbackSent = {};

        for (var i = 0; i < chat.feedback.length; i++){
            if (chat.feedback[i].from == user.uuid)
                info.feedbackSent = chat.feedback[i];
            else
                info.feedbackReceived = chat.feedback[i];
        }

        console.log("CHAT INFO: ", info)
        return info;

    }

    function getHistory() {
        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: '/profile/chats',
            success: res => {
                console.log(res)

                // Double-check conversation count
                if (res.length > $("#convo-count").text) {
                    $("#convo-count").text(res.length);
                }

                // Populate history form

                res.forEach(row => {

                    var table_html = ""

                    const info = extraInfoFromChat(row)

                    // Build up html here
                    table_html +=
                        '<li class="list-group-item">' +
                            '<div class="col-md-12">' +
                                '<span class="name">' + info.otherName + '</span><br/>' +
                                '<span class="fa fa-calendar text-muted c-info" data-toggle="tooltip" title="Date"></span>' +
                                '<span class="visible-xs"> <span class="text-muted">Date</span></span>' +
                                '<span> ' + Date(info.connectedDate) + '</span><br/>' +

                                '<span> Duration: ' + info.duration + '</span><br/>';


                    if (!$.isEmptyObject(info.feedbackSent)){
                        table_html +=
                            '<span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="Feedback Sent"></span>' +
                            '<span class="visible-xs"> <span class="text-muted">Feedback Sent</span><br/></span>' +
                            '<span> Stars: ' + info.feedbackSent.stars + '</span></br>' +
                            '<span> Badges: ' + info.feedbackSent.badges + '</span></br>' +
                            '<span> Text: ' + info.feedbackSent.text + '</span>';
                    }
                    if (!$.isEmptyObject(info.feedbackReceived)){
                        table_html +=
                             '<br/><span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="Feedback Received"></span>' +
                            '<span class="visible-xs"> <span class="text-muted">Feedback Received</span><br/></span>' +
                            '<span> Stars: ' + info.feedbackReceived.stars + '</span></br>' +
                            '<span> Badges: ' + info.feedbackReceived.badges + '</span></br>' +
                            '<span> Text: ' + info.feedbackReceived.text + '</span>';
                    }

                    table_html +=
                            '</div>' +
                            '<div class="clearfix"></div>' +
                        '</li>';

                    // append table_html string to the html
                    $("#contact-list").append(table_html);

                })

                // TODO: append results to table
            }
        })
    }

    $(document).ready(function() {
        jQuery(function() {
            $("#user-hello").html("Welcome to your profile, " + user.facebook.name + "!");
            paintStars(+user.rating.stars);
            $('#convo-count').html(user.rating.count);
            ['empathetic', 'knowledgeable', 'creative', 'polite'].forEach(function(d) {
                $('#' + d + '-count').html(': ' + countBadges(d, user));
            })

            // show leaderboard right away if user has already selected to see their leaderboard
            if (user.show_leaderboard) {
                getLeaderboard();
            } else {
                // add button for showing leaderboard for the first time
                $("#leaderboard").append(
                    '<button class="gradient-btn" id="show-leaderboard">Authorize Facebook Friends to See Leaderboard</button>'
                )
                $("#show-leaderboard").on("click", e => {
                    getLeaderboard()
                    $("#show-leaderboard").remove()
                })
            }

            $("#convo-button").on("click", (e) => {
                window.location.href= '/chat';
            })

            getHistory();
        });
    });

    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

<script>
    $(function () {
        $('#contact-list').searchable({
            searchField: '#contact-list-search',
            selector: 'li',
            childSelector: '.col-md-12',
            show: function( elem ) {
                elem.slideDown(100);
            },
            hide: function( elem ) {
                elem.slideUp( 100 );
            }
        })
    });
</script>
