<style type="text/css">
    .lst-kix_1xsntxplxd50-0>li {
        counter-increment: lst-ctn-kix_1xsntxplxd50-0
    }

    .lst-kix_cfx7yfv64pjn-4>li {
        counter-increment: lst-ctn-kix_cfx7yfv64pjn-4
    }

    .lst-kix_1xsntxplxd50-6>li:before {
        content: "" counter(lst-ctn-kix_1xsntxplxd50-6, decimal) ". "
    }

    .lst-kix_1xsntxplxd50-5>li:before {
        content: "" counter(lst-ctn-kix_1xsntxplxd50-5, lower-roman) ") "
    }

    .lst-kix_1xsntxplxd50-3>li:before {
        content: "" counter(lst-ctn-kix_1xsntxplxd50-3, decimal) ") "
    }

    .lst-kix_1xsntxplxd50-2>li:before {
        content: "(" counter(lst-ctn-kix_1xsntxplxd50-2, lower-roman) ") "
    }

    .lst-kix_1xsntxplxd50-4>li:before {
        content: "" counter(lst-ctn-kix_1xsntxplxd50-4, lower-latin) ") "
    }

    .lst-kix_1xsntxplxd50-0>li:before {
        content: "(" counter(lst-ctn-kix_1xsntxplxd50-0, decimal) ") "
    }

    .lst-kix_1xsntxplxd50-1>li:before {
        content: "(" counter(lst-ctn-kix_1xsntxplxd50-1, lower-latin) ") "
    }

    ol.lst-kix_cfx7yfv64pjn-0.start {
        counter-reset: lst-ctn-kix_cfx7yfv64pjn-0 0
    }

    ul.lst-kix_li3fmanpch9z-2 {
        list-style-type: none
    }

    ul.lst-kix_li3fmanpch9z-1 {
        list-style-type: none
    }

    ul.lst-kix_li3fmanpch9z-4 {
        list-style-type: none
    }

    ul.lst-kix_li3fmanpch9z-3 {
        list-style-type: none
    }

    ul.lst-kix_fgcyu8b3cbms-0 {
        list-style-type: none
    }

    ul.lst-kix_li3fmanpch9z-0 {
        list-style-type: none
    }

    .lst-kix_6sqnm69z4ld7-3>li {
        counter-increment: lst-ctn-kix_6sqnm69z4ld7-3
    }

    ul.lst-kix_fgcyu8b3cbms-4 {
        list-style-type: none
    }

    ul.lst-kix_fgcyu8b3cbms-3 {
        list-style-type: none
    }

    ul.lst-kix_fgcyu8b3cbms-2 {
        list-style-type: none
    }

    ul.lst-kix_fgcyu8b3cbms-1 {
        list-style-type: none
    }

    ul.lst-kix_fgcyu8b3cbms-8 {
        list-style-type: none
    }

    ul.lst-kix_li3fmanpch9z-6 {
        list-style-type: none
    }

    ul.lst-kix_fgcyu8b3cbms-7 {
        list-style-type: none
    }

    ul.lst-kix_li3fmanpch9z-5 {
        list-style-type: none
    }

    ul.lst-kix_fgcyu8b3cbms-6 {
        list-style-type: none
    }

    .lst-kix_li3fmanpch9z-3>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_li3fmanpch9z-8 {
        list-style-type: none
    }

    ul.lst-kix_fgcyu8b3cbms-5 {
        list-style-type: none
    }

    ul.lst-kix_li3fmanpch9z-7 {
        list-style-type: none
    }

    .lst-kix_li3fmanpch9z-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_li3fmanpch9z-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_li3fmanpch9z-1>li:before {
        content: "\0025cb  "
    }

    ol.lst-kix_cfx7yfv64pjn-6 {
        list-style-type: none
    }

    ol.lst-kix_cfx7yfv64pjn-7 {
        list-style-type: none
    }

    .lst-kix_1xsntxplxd50-7>li:before {
        content: "" counter(lst-ctn-kix_1xsntxplxd50-7, lower-latin) ". "
    }

    ol.lst-kix_cfx7yfv64pjn-4 {
        list-style-type: none
    }

    ol.lst-kix_cfx7yfv64pjn-5 {
        list-style-type: none
    }

    ol.lst-kix_vghfljll1k1n-7.start {
        counter-reset: lst-ctn-kix_vghfljll1k1n-7 0
    }

    ol.lst-kix_cfx7yfv64pjn-2 {
        list-style-type: none
    }

    ol.lst-kix_cfx7yfv64pjn-3 {
        list-style-type: none
    }

    .lst-kix_1xsntxplxd50-8>li:before {
        content: "" counter(lst-ctn-kix_1xsntxplxd50-8, lower-roman) ". "
    }

    ol.lst-kix_cfx7yfv64pjn-0 {
        list-style-type: none
    }

    ol.lst-kix_1xsntxplxd50-2.start {
        counter-reset: lst-ctn-kix_1xsntxplxd50-2 0
    }

    ol.lst-kix_cfx7yfv64pjn-1 {
        list-style-type: none
    }

    .lst-kix_li3fmanpch9z-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_li3fmanpch9z-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_cfx7yfv64pjn-8>li {
        counter-increment: lst-ctn-kix_cfx7yfv64pjn-8
    }

    .lst-kix_li3fmanpch9z-6>li:before {
        content: "\0025cf  "
    }

    ol.lst-kix_cfx7yfv64pjn-5.start {
        counter-reset: lst-ctn-kix_cfx7yfv64pjn-5 0
    }

    .lst-kix_li3fmanpch9z-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_li3fmanpch9z-8>li:before {
        content: "\0025a0  "
    }

    ol.lst-kix_cfx7yfv64pjn-8 {
        list-style-type: none
    }

    ol.lst-kix_vghfljll1k1n-0.start {
        counter-reset: lst-ctn-kix_vghfljll1k1n-0 0
    }

    .lst-kix_6sqnm69z4ld7-6>li {
        counter-increment: lst-ctn-kix_6sqnm69z4ld7-6
    }

    .lst-kix_fgcyu8b3cbms-0>li:before {
        content: "-  "
    }

    ol.lst-kix_6sqnm69z4ld7-6.start {
        counter-reset: lst-ctn-kix_6sqnm69z4ld7-6 0
    }

    .lst-kix_fgcyu8b3cbms-2>li:before {
        content: "-  "
    }

    ul.lst-kix_y8jy96g3fk4u-4 {
        list-style-type: none
    }

    ul.lst-kix_y8jy96g3fk4u-5 {
        list-style-type: none
    }

    ul.lst-kix_y8jy96g3fk4u-6 {
        list-style-type: none
    }

    ul.lst-kix_y8jy96g3fk4u-7 {
        list-style-type: none
    }

    ul.lst-kix_y8jy96g3fk4u-8 {
        list-style-type: none
    }

    .lst-kix_fgcyu8b3cbms-4>li:before {
        content: "-  "
    }

    .lst-kix_fgcyu8b3cbms-8>li:before {
        content: "-  "
    }

    .lst-kix_fgcyu8b3cbms-6>li:before {
        content: "-  "
    }

    .lst-kix_y8jy96g3fk4u-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_y8jy96g3fk4u-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_1xsntxplxd50-4>li {
        counter-increment: lst-ctn-kix_1xsntxplxd50-4
    }

    .lst-kix_y8jy96g3fk4u-2>li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_y8jy96g3fk4u-0 {
        list-style-type: none
    }

    ul.lst-kix_y8jy96g3fk4u-1 {
        list-style-type: none
    }

    ul.lst-kix_y8jy96g3fk4u-2 {
        list-style-type: none
    }

    ol.lst-kix_vghfljll1k1n-2.start {
        counter-reset: lst-ctn-kix_vghfljll1k1n-2 0
    }

    ul.lst-kix_y8jy96g3fk4u-3 {
        list-style-type: none
    }

    ol.lst-kix_vghfljll1k1n-5.start {
        counter-reset: lst-ctn-kix_vghfljll1k1n-5 0
    }

    .lst-kix_y8jy96g3fk4u-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_vghfljll1k1n-7>li:before {
        content: "" counter(lst-ctn-kix_vghfljll1k1n-7, lower-latin) ". "
    }

    .lst-kix_i2t72fasxcc4-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_vghfljll1k1n-5>li:before {
        content: "" counter(lst-ctn-kix_vghfljll1k1n-5, lower-roman) ". "
    }

    .lst-kix_i2t72fasxcc4-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_y8jy96g3fk4u-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_i2t72fasxcc4-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_vghfljll1k1n-3>li:before {
        content: "" counter(lst-ctn-kix_vghfljll1k1n-3, decimal) ". "
    }

    .lst-kix_i2t72fasxcc4-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_vghfljll1k1n-1>li:before {
        content: "" counter(lst-ctn-kix_vghfljll1k1n-1, lower-latin) ". "
    }

    ol.lst-kix_6sqnm69z4ld7-8.start {
        counter-reset: lst-ctn-kix_6sqnm69z4ld7-8 0
    }

    ul.lst-kix_c8uegahxpkbc-1 {
        list-style-type: none
    }

    ul.lst-kix_c8uegahxpkbc-0 {
        list-style-type: none
    }

    ul.lst-kix_c8uegahxpkbc-5 {
        list-style-type: none
    }

    ul.lst-kix_c8uegahxpkbc-4 {
        list-style-type: none
    }

    ul.lst-kix_xnp4lznmmdeo-0 {
        list-style-type: none
    }

    ul.lst-kix_c8uegahxpkbc-3 {
        list-style-type: none
    }

    ul.lst-kix_c8uegahxpkbc-2 {
        list-style-type: none
    }

    ul.lst-kix_xnp4lznmmdeo-3 {
        list-style-type: none
    }

    .lst-kix_gxmzz1d9i0su-3>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_xnp4lznmmdeo-4 {
        list-style-type: none
    }

    ul.lst-kix_xnp4lznmmdeo-1 {
        list-style-type: none
    }

    ul.lst-kix_xnp4lznmmdeo-2 {
        list-style-type: none
    }

    ul.lst-kix_xnp4lznmmdeo-7 {
        list-style-type: none
    }

    .lst-kix_vghfljll1k1n-3>li {
        counter-increment: lst-ctn-kix_vghfljll1k1n-3
    }

    .lst-kix_gxmzz1d9i0su-1>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_xnp4lznmmdeo-8 {
        list-style-type: none
    }

    ul.lst-kix_xnp4lznmmdeo-5 {
        list-style-type: none
    }

    .lst-kix_ijj83onv53di-7>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_xnp4lznmmdeo-6 {
        list-style-type: none
    }

    .lst-kix_gxmzz1d9i0su-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_1xsntxplxd50-3>li {
        counter-increment: lst-ctn-kix_1xsntxplxd50-3
    }

    .lst-kix_i2t72fasxcc4-0>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_c8uegahxpkbc-8 {
        list-style-type: none
    }

    ul.lst-kix_c8uegahxpkbc-7 {
        list-style-type: none
    }

    ol.lst-kix_cfx7yfv64pjn-2.start {
        counter-reset: lst-ctn-kix_cfx7yfv64pjn-2 0
    }

    ul.lst-kix_c8uegahxpkbc-6 {
        list-style-type: none
    }

    .lst-kix_gxmzz1d9i0su-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_6sqnm69z4ld7-7>li {
        counter-increment: lst-ctn-kix_6sqnm69z4ld7-7
    }

    .lst-kix_6sqnm69z4ld7-1>li:before {
        content: "" counter(lst-ctn-kix_6sqnm69z4ld7-1, lower-latin) ". "
    }

    ol.lst-kix_1xsntxplxd50-8 {
        list-style-type: none
    }

    ol.lst-kix_1xsntxplxd50-6 {
        list-style-type: none
    }

    ol.lst-kix_1xsntxplxd50-7 {
        list-style-type: none
    }

    ol.lst-kix_1xsntxplxd50-4 {
        list-style-type: none
    }

    ol.lst-kix_1xsntxplxd50-5 {
        list-style-type: none
    }

    ol.lst-kix_1xsntxplxd50-2 {
        list-style-type: none
    }

    ol.lst-kix_1xsntxplxd50-3 {
        list-style-type: none
    }

    ol.lst-kix_1xsntxplxd50-0 {
        list-style-type: none
    }

    ol.lst-kix_1xsntxplxd50-1 {
        list-style-type: none
    }

    .lst-kix_6sqnm69z4ld7-4>li:before {
        content: "" counter(lst-ctn-kix_6sqnm69z4ld7-4, lower-latin) ". "
    }

    .lst-kix_ijj83onv53di-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_6sqnm69z4ld7-5>li:before {
        content: "" counter(lst-ctn-kix_6sqnm69z4ld7-5, lower-roman) ". "
    }

    .lst-kix_ijj83onv53di-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_6sqnm69z4ld7-8>li:before {
        content: "" counter(lst-ctn-kix_6sqnm69z4ld7-8, lower-roman) ". "
    }

    .lst-kix_ijj83onv53di-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_g9464u55fgnk-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_g9464u55fgnk-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_g9464u55fgnk-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_6sqnm69z4ld7-0>li:before {
        content: "" counter(lst-ctn-kix_6sqnm69z4ld7-0, decimal) ". "
    }

    .lst-kix_dpbxuwv1yj3k-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_dpbxuwv1yj3k-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_vghfljll1k1n-4>li {
        counter-increment: lst-ctn-kix_vghfljll1k1n-4
    }

    .lst-kix_1xsntxplxd50-8>li {
        counter-increment: lst-ctn-kix_1xsntxplxd50-8
    }

    .lst-kix_dpbxuwv1yj3k-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_6sqnm69z4ld7-2>li {
        counter-increment: lst-ctn-kix_6sqnm69z4ld7-2
    }

    .lst-kix_1xsntxplxd50-1>li {
        counter-increment: lst-ctn-kix_1xsntxplxd50-1
    }

    .lst-kix_cfx7yfv64pjn-5>li {
        counter-increment: lst-ctn-kix_cfx7yfv64pjn-5
    }

    .lst-kix_dpbxuwv1yj3k-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_dpbxuwv1yj3k-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_dfd4bpv7drv4-8>li:before {
        content: "-  "
    }

    ul.lst-kix_tstl1a8blktw-6 {
        list-style-type: none
    }

    ul.lst-kix_tstl1a8blktw-7 {
        list-style-type: none
    }

    ul.lst-kix_tstl1a8blktw-8 {
        list-style-type: none
    }

    .lst-kix_fgcyu8b3cbms-1>li:before {
        content: "-  "
    }

    ul.lst-kix_tstl1a8blktw-2 {
        list-style-type: none
    }

    ul.lst-kix_tstl1a8blktw-3 {
        list-style-type: none
    }

    ul.lst-kix_tstl1a8blktw-4 {
        list-style-type: none
    }

    ul.lst-kix_tstl1a8blktw-5 {
        list-style-type: none
    }

    ol.lst-kix_6sqnm69z4ld7-8 {
        list-style-type: none
    }

    ul.lst-kix_tstl1a8blktw-0 {
        list-style-type: none
    }

    ul.lst-kix_tstl1a8blktw-1 {
        list-style-type: none
    }

    .lst-kix_c8uegahxpkbc-3>li:before {
        content: "-  "
    }

    .lst-kix_fgcyu8b3cbms-5>li:before {
        content: "-  "
    }

    ol.lst-kix_6sqnm69z4ld7-5 {
        list-style-type: none
    }

    ol.lst-kix_6sqnm69z4ld7-4 {
        list-style-type: none
    }

    ol.lst-kix_6sqnm69z4ld7-7 {
        list-style-type: none
    }

    .lst-kix_dfd4bpv7drv4-0>li:before {
        content: "-  "
    }

    .lst-kix_vghfljll1k1n-6>li {
        counter-increment: lst-ctn-kix_vghfljll1k1n-6
    }

    ol.lst-kix_6sqnm69z4ld7-6 {
        list-style-type: none
    }

    ol.lst-kix_6sqnm69z4ld7-1 {
        list-style-type: none
    }

    ol.lst-kix_6sqnm69z4ld7-0 {
        list-style-type: none
    }

    ol.lst-kix_6sqnm69z4ld7-3 {
        list-style-type: none
    }

    ol.lst-kix_6sqnm69z4ld7-2 {
        list-style-type: none
    }

    .lst-kix_cfx7yfv64pjn-0>li {
        counter-increment: lst-ctn-kix_cfx7yfv64pjn-0
    }

    .lst-kix_y8jy96g3fk4u-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_c8uegahxpkbc-7>li:before {
        content: "-  "
    }

    ol.lst-kix_vghfljll1k1n-8.start {
        counter-reset: lst-ctn-kix_vghfljll1k1n-8 0
    }

    .lst-kix_dfd4bpv7drv4-4>li:before {
        content: "-  "
    }

    .lst-kix_y8jy96g3fk4u-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_vghfljll1k1n-8>li:before {
        content: "" counter(lst-ctn-kix_vghfljll1k1n-8, lower-roman) ". "
    }

    .lst-kix_tstl1a8blktw-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_xnp4lznmmdeo-8>li:before {
        content: "-  "
    }

    .lst-kix_vghfljll1k1n-4>li:before {
        content: "" counter(lst-ctn-kix_vghfljll1k1n-4, lower-latin) ". "
    }

    .lst-kix_vghfljll1k1n-0>li:before {
        content: "" counter(lst-ctn-kix_vghfljll1k1n-0, decimal) ". "
    }

    .lst-kix_i2t72fasxcc4-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_tstl1a8blktw-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_cfx7yfv64pjn-7>li {
        counter-increment: lst-ctn-kix_cfx7yfv64pjn-7
    }

    .lst-kix_gxmzz1d9i0su-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_a7lspt6oyy8a-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_a7lspt6oyy8a-4>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_a7lspt6oyy8a-1 {
        list-style-type: none
    }

    ul.lst-kix_a7lspt6oyy8a-0 {
        list-style-type: none
    }

    .lst-kix_1xsntxplxd50-6>li {
        counter-increment: lst-ctn-kix_1xsntxplxd50-6
    }

    ul.lst-kix_a7lspt6oyy8a-5 {
        list-style-type: none
    }

    ul.lst-kix_a7lspt6oyy8a-4 {
        list-style-type: none
    }

    .lst-kix_gxmzz1d9i0su-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_gxmzz1d9i0su-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_i2t72fasxcc4-1>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_a7lspt6oyy8a-3 {
        list-style-type: none
    }

    .lst-kix_a7lspt6oyy8a-0>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_a7lspt6oyy8a-2 {
        list-style-type: none
    }

    ul.lst-kix_a7lspt6oyy8a-8 {
        list-style-type: none
    }

    ul.lst-kix_a7lspt6oyy8a-7 {
        list-style-type: none
    }

    ul.lst-kix_a7lspt6oyy8a-6 {
        list-style-type: none
    }

    .lst-kix_6sqnm69z4ld7-4>li {
        counter-increment: lst-ctn-kix_6sqnm69z4ld7-4
    }

    .lst-kix_vghfljll1k1n-1>li {
        counter-increment: lst-ctn-kix_vghfljll1k1n-1
    }

    ol.lst-kix_vghfljll1k1n-6.start {
        counter-reset: lst-ctn-kix_vghfljll1k1n-6 0
    }

    ol.lst-kix_6sqnm69z4ld7-2.start {
        counter-reset: lst-ctn-kix_6sqnm69z4ld7-2 0
    }

    ul.lst-kix_g9464u55fgnk-1 {
        list-style-type: none
    }

    ul.lst-kix_g9464u55fgnk-0 {
        list-style-type: none
    }

    ul.lst-kix_g9464u55fgnk-5 {
        list-style-type: none
    }

    ul.lst-kix_g9464u55fgnk-4 {
        list-style-type: none
    }

    ul.lst-kix_g9464u55fgnk-3 {
        list-style-type: none
    }

    ul.lst-kix_g9464u55fgnk-2 {
        list-style-type: none
    }

    ul.lst-kix_g9464u55fgnk-8 {
        list-style-type: none
    }

    ul.lst-kix_g9464u55fgnk-7 {
        list-style-type: none
    }

    ul.lst-kix_g9464u55fgnk-6 {
        list-style-type: none
    }

    ol.lst-kix_cfx7yfv64pjn-6.start {
        counter-reset: lst-ctn-kix_cfx7yfv64pjn-6 0
    }

    .lst-kix_cfx7yfv64pjn-2>li:before {
        content: "" counter(lst-ctn-kix_cfx7yfv64pjn-2, lower-roman) ". "
    }

    ul.lst-kix_i2t72fasxcc4-5 {
        list-style-type: none
    }

    ul.lst-kix_i2t72fasxcc4-6 {
        list-style-type: none
    }

    ul.lst-kix_i2t72fasxcc4-3 {
        list-style-type: none
    }

    ol.lst-kix_cfx7yfv64pjn-1.start {
        counter-reset: lst-ctn-kix_cfx7yfv64pjn-1 0
    }

    ul.lst-kix_i2t72fasxcc4-4 {
        list-style-type: none
    }

    .lst-kix_cfx7yfv64pjn-4>li:before {
        content: "" counter(lst-ctn-kix_cfx7yfv64pjn-4, lower-latin) ". "
    }

    .lst-kix_cfx7yfv64pjn-3>li:before {
        content: "" counter(lst-ctn-kix_cfx7yfv64pjn-3, decimal) ". "
    }

    ul.lst-kix_i2t72fasxcc4-7 {
        list-style-type: none
    }

    ul.lst-kix_i2t72fasxcc4-8 {
        list-style-type: none
    }

    .lst-kix_cfx7yfv64pjn-6>li:before {
        content: "" counter(lst-ctn-kix_cfx7yfv64pjn-6, decimal) ". "
    }

    .lst-kix_iggnd23mvfo5-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_cfx7yfv64pjn-6>li {
        counter-increment: lst-ctn-kix_cfx7yfv64pjn-6
    }

    .lst-kix_iggnd23mvfo5-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_cfx7yfv64pjn-5>li:before {
        content: "" counter(lst-ctn-kix_cfx7yfv64pjn-5, lower-roman) ". "
    }

    .lst-kix_iggnd23mvfo5-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_iggnd23mvfo5-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_cfx7yfv64pjn-8>li:before {
        content: "" counter(lst-ctn-kix_cfx7yfv64pjn-8, lower-roman) ". "
    }

    .lst-kix_cfx7yfv64pjn-7>li:before {
        content: "" counter(lst-ctn-kix_cfx7yfv64pjn-7, lower-latin) ". "
    }

    .lst-kix_iggnd23mvfo5-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_iggnd23mvfo5-5>li:before {
        content: "\0025a0  "
    }

    ol.lst-kix_6sqnm69z4ld7-7.start {
        counter-reset: lst-ctn-kix_6sqnm69z4ld7-7 0
    }

    ul.lst-kix_i2t72fasxcc4-1 {
        list-style-type: none
    }

    .lst-kix_iggnd23mvfo5-4>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_i2t72fasxcc4-2 {
        list-style-type: none
    }

    ol.lst-kix_1xsntxplxd50-3.start {
        counter-reset: lst-ctn-kix_1xsntxplxd50-3 0
    }

    .lst-kix_iggnd23mvfo5-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_xnp4lznmmdeo-7>li:before {
        content: "-  "
    }

    ul.lst-kix_i2t72fasxcc4-0 {
        list-style-type: none
    }

    .lst-kix_xnp4lznmmdeo-6>li:before {
        content: "-  "
    }

    .lst-kix_xnp4lznmmdeo-4>li:before {
        content: "-  "
    }

    .lst-kix_xnp4lznmmdeo-5>li:before {
        content: "-  "
    }

    ol.lst-kix_vghfljll1k1n-1.start {
        counter-reset: lst-ctn-kix_vghfljll1k1n-1 0
    }

    .lst-kix_xnp4lznmmdeo-2>li:before {
        content: "-  "
    }

    .lst-kix_1xsntxplxd50-2>li {
        counter-increment: lst-ctn-kix_1xsntxplxd50-2
    }

    .lst-kix_iggnd23mvfo5-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_xnp4lznmmdeo-3>li:before {
        content: "-  "
    }

    .lst-kix_6sqnm69z4ld7-8>li {
        counter-increment: lst-ctn-kix_6sqnm69z4ld7-8
    }

    .lst-kix_xnp4lznmmdeo-0>li:before {
        content: "-  "
    }

    .lst-kix_xnp4lznmmdeo-1>li:before {
        content: "-  "
    }

    ol.lst-kix_vghfljll1k1n-1 {
        list-style-type: none
    }

    .lst-kix_vghfljll1k1n-5>li {
        counter-increment: lst-ctn-kix_vghfljll1k1n-5
    }

    ol.lst-kix_vghfljll1k1n-2 {
        list-style-type: none
    }

    ol.lst-kix_vghfljll1k1n-0 {
        list-style-type: none
    }

    .lst-kix_cfx7yfv64pjn-1>li:before {
        content: "" counter(lst-ctn-kix_cfx7yfv64pjn-1, lower-latin) ". "
    }

    ul.lst-kix_iggnd23mvfo5-8 {
        list-style-type: none
    }

    ul.lst-kix_iggnd23mvfo5-7 {
        list-style-type: none
    }

    ul.lst-kix_iggnd23mvfo5-6 {
        list-style-type: none
    }

    .lst-kix_cfx7yfv64pjn-0>li:before {
        content: "" counter(lst-ctn-kix_cfx7yfv64pjn-0, decimal) ". "
    }

    ul.lst-kix_iggnd23mvfo5-1 {
        list-style-type: none
    }

    ul.lst-kix_iggnd23mvfo5-0 {
        list-style-type: none
    }

    .lst-kix_vghfljll1k1n-8>li {
        counter-increment: lst-ctn-kix_vghfljll1k1n-8
    }

    ul.lst-kix_iggnd23mvfo5-5 {
        list-style-type: none
    }

    ul.lst-kix_iggnd23mvfo5-4 {
        list-style-type: none
    }

    ul.lst-kix_iggnd23mvfo5-3 {
        list-style-type: none
    }

    ul.lst-kix_iggnd23mvfo5-2 {
        list-style-type: none
    }

    .lst-kix_cfx7yfv64pjn-2>li {
        counter-increment: lst-ctn-kix_cfx7yfv64pjn-2
    }

    ol.lst-kix_1xsntxplxd50-8.start {
        counter-reset: lst-ctn-kix_1xsntxplxd50-8 0
    }

    .lst-kix_dfd4bpv7drv4-7>li:before {
        content: "-  "
    }

    .lst-kix_dfd4bpv7drv4-1>li:before {
        content: "-  "
    }

    .lst-kix_c8uegahxpkbc-4>li:before {
        content: "-  "
    }

    .lst-kix_c8uegahxpkbc-2>li:before {
        content: "-  "
    }

    .lst-kix_c8uegahxpkbc-0>li:before {
        content: "-  "
    }

    ul.lst-kix_gxmzz1d9i0su-1 {
        list-style-type: none
    }

    ul.lst-kix_gxmzz1d9i0su-0 {
        list-style-type: none
    }

    ul.lst-kix_gxmzz1d9i0su-3 {
        list-style-type: none
    }

    ul.lst-kix_gxmzz1d9i0su-2 {
        list-style-type: none
    }

    .lst-kix_c8uegahxpkbc-6>li:before {
        content: "-  "
    }

    ul.lst-kix_gxmzz1d9i0su-5 {
        list-style-type: none
    }

    ul.lst-kix_gxmzz1d9i0su-4 {
        list-style-type: none
    }

    ul.lst-kix_gxmzz1d9i0su-7 {
        list-style-type: none
    }

    .lst-kix_dfd4bpv7drv4-3>li:before {
        content: "-  "
    }

    ul.lst-kix_gxmzz1d9i0su-6 {
        list-style-type: none
    }

    ul.lst-kix_gxmzz1d9i0su-8 {
        list-style-type: none
    }

    .lst-kix_dfd4bpv7drv4-5>li:before {
        content: "-  "
    }

    .lst-kix_c8uegahxpkbc-8>li:before {
        content: "-  "
    }

    .lst-kix_tstl1a8blktw-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_tstl1a8blktw-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_tstl1a8blktw-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_g9464u55fgnk-7>li:before {
        content: "\0025cb  "
    }

    ol.lst-kix_cfx7yfv64pjn-3.start {
        counter-reset: lst-ctn-kix_cfx7yfv64pjn-3 0
    }

    .lst-kix_tstl1a8blktw-8>li:before {
        content: "\0025a0  "
    }

    ol.lst-kix_vghfljll1k1n-4.start {
        counter-reset: lst-ctn-kix_vghfljll1k1n-4 0
    }

    .lst-kix_a7lspt6oyy8a-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_a7lspt6oyy8a-5>li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_dfd4bpv7drv4-1 {
        list-style-type: none
    }

    ul.lst-kix_dfd4bpv7drv4-0 {
        list-style-type: none
    }

    ul.lst-kix_dfd4bpv7drv4-3 {
        list-style-type: none
    }

    ul.lst-kix_dfd4bpv7drv4-2 {
        list-style-type: none
    }

    ul.lst-kix_dfd4bpv7drv4-5 {
        list-style-type: none
    }

    ul.lst-kix_dfd4bpv7drv4-4 {
        list-style-type: none
    }

    ul.lst-kix_dfd4bpv7drv4-7 {
        list-style-type: none
    }

    .lst-kix_a7lspt6oyy8a-1>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_dfd4bpv7drv4-6 {
        list-style-type: none
    }

    ul.lst-kix_dfd4bpv7drv4-8 {
        list-style-type: none
    }

    .lst-kix_6sqnm69z4ld7-1>li {
        counter-increment: lst-ctn-kix_6sqnm69z4ld7-1
    }

    ol.lst-kix_vghfljll1k1n-3.start {
        counter-reset: lst-ctn-kix_vghfljll1k1n-3 0
    }

    .lst-kix_tstl1a8blktw-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_a7lspt6oyy8a-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_6sqnm69z4ld7-0>li {
        counter-increment: lst-ctn-kix_6sqnm69z4ld7-0
    }

    .lst-kix_6sqnm69z4ld7-2>li:before {
        content: "" counter(lst-ctn-kix_6sqnm69z4ld7-2, lower-roman) ". "
    }

    .lst-kix_6sqnm69z4ld7-3>li:before {
        content: "" counter(lst-ctn-kix_6sqnm69z4ld7-3, decimal) ". "
    }

    .lst-kix_ijj83onv53di-0>li:before {
        content: "\0025cf  "
    }

    ol.lst-kix_1xsntxplxd50-6.start {
        counter-reset: lst-ctn-kix_1xsntxplxd50-6 0
    }

    .lst-kix_6sqnm69z4ld7-7>li:before {
        content: "" counter(lst-ctn-kix_6sqnm69z4ld7-7, lower-latin) ". "
    }

    .lst-kix_ijj83onv53di-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_6sqnm69z4ld7-6>li:before {
        content: "" counter(lst-ctn-kix_6sqnm69z4ld7-6, decimal) ". "
    }

    ul.lst-kix_dpbxuwv1yj3k-0 {
        list-style-type: none
    }

    .lst-kix_ijj83onv53di-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_ijj83onv53di-5>li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_dpbxuwv1yj3k-1 {
        list-style-type: none
    }

    ul.lst-kix_dpbxuwv1yj3k-2 {
        list-style-type: none
    }

    ul.lst-kix_dpbxuwv1yj3k-3 {
        list-style-type: none
    }

    .lst-kix_vghfljll1k1n-2>li {
        counter-increment: lst-ctn-kix_vghfljll1k1n-2
    }

    ul.lst-kix_dpbxuwv1yj3k-4 {
        list-style-type: none
    }

    ul.lst-kix_dpbxuwv1yj3k-5 {
        list-style-type: none
    }

    ul.lst-kix_dpbxuwv1yj3k-6 {
        list-style-type: none
    }

    ul.lst-kix_dpbxuwv1yj3k-7 {
        list-style-type: none
    }

    ul.lst-kix_dpbxuwv1yj3k-8 {
        list-style-type: none
    }

    ol.lst-kix_1xsntxplxd50-0.start {
        counter-reset: lst-ctn-kix_1xsntxplxd50-0 0
    }

    .lst-kix_g9464u55fgnk-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_g9464u55fgnk-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_cfx7yfv64pjn-3>li {
        counter-increment: lst-ctn-kix_cfx7yfv64pjn-3
    }

    .lst-kix_g9464u55fgnk-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_g9464u55fgnk-5>li:before {
        content: "\0025a0  "
    }

    ol.lst-kix_1xsntxplxd50-1.start {
        counter-reset: lst-ctn-kix_1xsntxplxd50-1 0
    }

    ol.lst-kix_6sqnm69z4ld7-4.start {
        counter-reset: lst-ctn-kix_6sqnm69z4ld7-4 0
    }

    .lst-kix_dpbxuwv1yj3k-2>li:before {
        content: "\0025a0  "
    }

    ol.lst-kix_cfx7yfv64pjn-4.start {
        counter-reset: lst-ctn-kix_cfx7yfv64pjn-4 0
    }

    ol.lst-kix_6sqnm69z4ld7-0.start {
        counter-reset: lst-ctn-kix_6sqnm69z4ld7-0 0
    }

    ol.lst-kix_6sqnm69z4ld7-5.start {
        counter-reset: lst-ctn-kix_6sqnm69z4ld7-5 0
    }

    .lst-kix_dpbxuwv1yj3k-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_dpbxuwv1yj3k-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_dpbxuwv1yj3k-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_dfd4bpv7drv4-6>li:before {
        content: "-  "
    }

    .lst-kix_dfd4bpv7drv4-2>li:before {
        content: "-  "
    }

    .lst-kix_fgcyu8b3cbms-3>li:before {
        content: "-  "
    }

    .lst-kix_1xsntxplxd50-5>li {
        counter-increment: lst-ctn-kix_1xsntxplxd50-5
    }

    .lst-kix_c8uegahxpkbc-1>li:before {
        content: "-  "
    }

    .lst-kix_6sqnm69z4ld7-5>li {
        counter-increment: lst-ctn-kix_6sqnm69z4ld7-5
    }

    .lst-kix_fgcyu8b3cbms-7>li:before {
        content: "-  "
    }

    ol.lst-kix_1xsntxplxd50-7.start {
        counter-reset: lst-ctn-kix_1xsntxplxd50-7 0
    }

    .lst-kix_y8jy96g3fk4u-7>li:before {
        content: "\0025cb  "
    }

    ol.lst-kix_vghfljll1k1n-7 {
        list-style-type: none
    }

    ol.lst-kix_vghfljll1k1n-8 {
        list-style-type: none
    }

    .lst-kix_1xsntxplxd50-7>li {
        counter-increment: lst-ctn-kix_1xsntxplxd50-7
    }

    ol.lst-kix_vghfljll1k1n-5 {
        list-style-type: none
    }

    ol.lst-kix_vghfljll1k1n-6 {
        list-style-type: none
    }

    ol.lst-kix_vghfljll1k1n-3 {
        list-style-type: none
    }

    ol.lst-kix_vghfljll1k1n-4 {
        list-style-type: none
    }

    ul.lst-kix_ijj83onv53di-6 {
        list-style-type: none
    }

    ul.lst-kix_ijj83onv53di-5 {
        list-style-type: none
    }

    ol.lst-kix_6sqnm69z4ld7-1.start {
        counter-reset: lst-ctn-kix_6sqnm69z4ld7-1 0
    }

    ul.lst-kix_ijj83onv53di-4 {
        list-style-type: none
    }

    ul.lst-kix_ijj83onv53di-3 {
        list-style-type: none
    }

    .lst-kix_c8uegahxpkbc-5>li:before {
        content: "-  "
    }

    ul.lst-kix_ijj83onv53di-8 {
        list-style-type: none
    }

    ul.lst-kix_ijj83onv53di-7 {
        list-style-type: none
    }

    .lst-kix_y8jy96g3fk4u-3>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_ijj83onv53di-2 {
        list-style-type: none
    }

    .lst-kix_vghfljll1k1n-7>li {
        counter-increment: lst-ctn-kix_vghfljll1k1n-7
    }

    ul.lst-kix_ijj83onv53di-1 {
        list-style-type: none
    }

    ul.lst-kix_ijj83onv53di-0 {
        list-style-type: none
    }

    ol.lst-kix_cfx7yfv64pjn-7.start {
        counter-reset: lst-ctn-kix_cfx7yfv64pjn-7 0
    }

    .lst-kix_tstl1a8blktw-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_g9464u55fgnk-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_cfx7yfv64pjn-1>li {
        counter-increment: lst-ctn-kix_cfx7yfv64pjn-1
    }

    .lst-kix_vghfljll1k1n-6>li:before {
        content: "" counter(lst-ctn-kix_vghfljll1k1n-6, decimal) ". "
    }

    .lst-kix_i2t72fasxcc4-3>li:before {
        content: "\0025cf  "
    }

    ol.lst-kix_1xsntxplxd50-4.start {
        counter-reset: lst-ctn-kix_1xsntxplxd50-4 0
    }

    .lst-kix_vghfljll1k1n-2>li:before {
        content: "" counter(lst-ctn-kix_vghfljll1k1n-2, lower-roman) ". "
    }

    .lst-kix_i2t72fasxcc4-7>li:before {
        content: "\0025cb  "
    }

    ol.lst-kix_6sqnm69z4ld7-3.start {
        counter-reset: lst-ctn-kix_6sqnm69z4ld7-3 0
    }

    .lst-kix_gxmzz1d9i0su-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_ijj83onv53di-8>li:before {
        content: "\0025a0  "
    }

    ol.lst-kix_1xsntxplxd50-5.start {
        counter-reset: lst-ctn-kix_1xsntxplxd50-5 0
    }

    ol.lst-kix_cfx7yfv64pjn-8.start {
        counter-reset: lst-ctn-kix_cfx7yfv64pjn-8 0
    }

    .lst-kix_a7lspt6oyy8a-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_gxmzz1d9i0su-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_vghfljll1k1n-0>li {
        counter-increment: lst-ctn-kix_vghfljll1k1n-0
    }

    .lst-kix_tstl1a8blktw-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_a7lspt6oyy8a-2>li:before {
        content: "\0025a0  "
    }

    ol {
        margin: 0;
        padding: 0
    }

    table td,
    table th {
        padding: 0
    }

    .c1 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Times New Roman";
        font-style: normal
    }

    .c2 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Times New Roman";
        font-style: normal
    }

    .c0 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c6 {
        font-family: "Times New Roman";
        color: #1155cc;
        font-weight: 400;
        text-decoration: underline
    }

    .c5 {
        color: inherit;
        text-decoration: inherit
    }

    .c7 {
        font-weight: 400;
        font-family: "Times New Roman"
    }

    .c4 {
        font-weight: 700;
        font-family: "Times New Roman"
    }

    .c9 {
        max-width: 468pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c8 {
        background-color: #ffffff
    }

    .c3 {
        height: 11pt
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
</style>

<div class="row">
    <div class="col-md-12">
        <p class="c0">
            <span class="c2">Terms of Service (&quot;Terms&quot;)</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">Last updated: November 08, 2017</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">1. Acknowledgement and Acceptance of Terms</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c7">Please read these Terms of Service (&quot;Terms&quot;, &quot;Terms of Service&quot;) carefully before accessing the website at https://eyetoeye.video (the &quot;Service&quot;) operated by EyeToEye</span><span class="c4">&nbsp;</span>
            <span class="c1">(&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;).</span>
        </p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c1">Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. If you disagree with any part of the terms, then you may not register an account or access the Service.</span></p>
        <p class="c0"><span class="c1">&nbsp;</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">2. Modifications to Service</span></p>
        <p class="c0"><span class="c1">We also reserve the right to change these Terms of Service, with or without notice to you. You acknowledge and agree that reviewing the Service and the Terms of Use periodically and being aware of any modifications is your responsibility. Your continued use of this Service after any modifications will constitute your acknowledgement of the modified Terms of Use and agreement to abide and be bound by the modified Terms of Use. </span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">3. Registration Obligations and Requirements</span></p>
        <p class="c0"><span class="c1">If you choose to register for the Service, you are required to authenticate your account by a Facebook login. You agree to provide and maintain true, accurate, current and complete information about yourself. </span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c1">If you are under 13 years of age, you are not authorized to use the Service. By using the Service, you hereby warrant that you are at least 13 years old. &nbsp;If you are under the age of 18, you may use the Service only with the approval of your parent or guardian. In addition, you should review these terms with your parent or guardian to make sure that you and your parent or guardian understand and agree with these terms. Please help report users that appear to be under the age of 13 for our team to review.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c1">You are solely responsible for taking all steps to ensure that no unauthorized person shall have access to your account password or any other account information, and you are fully responsible for any and all activities that occur under your password or account. Also, you will not use or attempt to use another user&#39;s account, username, or password without their permission.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c4">4. Use of the Service</span><span class="c1">&nbsp;</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">Services Description</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">The Service is an online platform designed to pair individuals who disagree on a given topic together, based on ratings and other factors, and to enable individuals to chat and communicate online through two-way video conversation.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">User Interactions</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">Users are solely responsible for all of your communications and interactions with other users of the site or services and with other persons with whom they communicate or interact as a result of their use of the Service. We do not recommend nor encourage users to submit confidential or proprietary information to other users. </span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c1">We make no representations or warranties as to the conduct of users of the site or services or their compatibility with any current or future users of the site or services. </span></p>
        <p class="c0"><span class="c1">Everyone enjoys civil conservation and behavior. Keep offensive comments and insults to yourself. Remember the other user is a person, so please be mindful of his or her feelings. Acknowledge that conversation is a two-way street. Don&rsquo;t speak to others in a way that you wouldn&rsquo;t want to be spoken to.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">Warranty Disclaimer</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">When using the Service, users will be exposed to the arguments of other users developed through their own variety of experiences and sources. We are not responsible for the accuracy, usefulness, or safety of the material you are exposed to, as you agree to waive any legal or equitable rights or remedies you have or may have against us. When on the site or services, if you feel uncomfortable or that you are being harassed, we recommend that you immediately disconnect from the chat and report the user.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">Reporting Accurate Opinions</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">We ask users to enter accurate stances on discussion topics. We use a unique algorithm to match you to another user with whom you disagree on the given topic, so you can hear about a different perspective. </span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c1">By lying about your perspective, it will bring an unfair and fulfilling experience for others. If discovered, our system has the right to automatically correct the information for you. Please help report users that appear to have the incorrect information for our team to review. </span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">User Conduct</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">Subject to the terms and conditions of this Terms of Service, user conduct is subject to all applicable laws and regulations, and users are responsible for compliance with any applicable local laws. </span></p>
        <p class="c0"><span class="c1">Users are solely responsible for all content that they publish or display on the Service. In order to protect users from content that is inaccurate, offensive, indecent, or objectionable, users may not publish or display content that: </span></p>
        <p class="c0"><span class="c1">(i) promotes illegal activities that violate any applicable law or regulation, </span></p>
        <p class="c0"><span class="c1">(ii) is sexually explicit, vulgar or offensive, </span></p>
        <p class="c0"><span class="c1">(iii) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group</span></p>
        <p class="c0"><span class="c1">(iv) is violent or threatening.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c1">We do not tolerate cyberbullying. Cyberbullying includes, but is not limited to, any action taken to offend another user through the use of inappropriate behavior, nudity, violence, profanity, racism, sexism, threats, illegal actions, and so on. Please help report users that show any of these behaviors and they will be blocked.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c1">Users may not use the Service to attempt to gain unauthorized access to any portion of the Service, or any systems or networks connected to the Service. You may not copy, modify, distribute, sell, or lease any part of our Services, nor may you reverse engineer or attempt to extract the source code of that software, unless applicable laws prohibit these restrictions or you have our written permission to do so. You will not use any robot, spider, crawler, scraper, or other automated means or interface to access the Services or extract other user&#39;s information.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">5. Termination Disclosure</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">We reserve the right to terminate or suspend, without cause or notice, any account, for whatever reason, including without the breaching of the Terms. We will terminate accounts that we think are abusive towards other users of the community or against the purpose of our Service. All provisions of these Terms will survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">6. Intellectual Property disclosure</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">The Website and its original content, functionality, and design of found on the website is the property of EyeToEye.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">7. Privacy Policy </span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">Our Privacy Policy applies to the use of the Services. By using the Service, you consent to our collection and use of personal data as outlined therein. This Privacy Policy does not address the privacy practices of any third parties that we do not own, control, or are affiliated with. </span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">Record of Chats</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">At the beginning of every video chat, a record is made of the fact that a chat occurred between you and your partner. This record includes a timestamp, as well as IP address, ID cookie, and similar information for both parties. These records may be used for the purpose of tracking trolls, spammers, hackers, and others that misuse or disuse the Service; and may also be used for law enforcement purposes; or analyzed in aggregate to produce statistical data for research. </span></p>
        <p class="c0"><span class="c1">Webcam images may be captured from the Service&rsquo;s video chats, uploaded to our servers, and monitored for misbehavior as part of our moderation and enforcement processes. It is also possible for either partner to take screenshots of video chats, or to use third-party software to record them.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">IP address</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">Our Services is a P2P (peer-to-peer) video chat system, which requires a direct connection to be made between your computer and your partner&#39;s computer. To do this, it is necessary to make your IP address available to your partner&#39;s computer, although it is not shown to the other user by our Service&rsquo;s user interface. </span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">Cookies</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">This service uses cookies to save user preferences and technical information about your computer system. Cookies are files with data created by a website to recognize you and keep track of your preferences. The data is sent to your browser from the website that you visit and are stored on your device internal memory.</span></p>
        <p class="c0"><span class="c1">This Service does not use these &ldquo;cookies&rdquo; explicitly. However, the app may use third party code and libraries that use &ldquo;cookies&rdquo; to collection information and to improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c2">Facebook Integration</span></p>
        <p class="c0 c3"><span class="c2"></span></p>
        <p class="c0"><span class="c1">In order to access and use this Service, users must register by linking with a Facebook account. Currently, Facebook integration is used to:</span></p>
        <p class="c0"><span class="c1">(i) Verify identity and authenticate your account </span></p>
        <p class="c0"><span class="c1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ii) Access your name and other personal details</span></p>
        <p class="c0"><span class="c1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(iii) Use list of pages liked on Facebook to match you with other users</span></p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0"><span class="c7">However, we will not share this information with any third parties. We will never share users&rsquo; personal information or behavior on this Service with Facebook. We will not post to your Facebook page, unless you perform actions you explicitly initiate. Use of Facebook is subject to</span>
            <span class="c7"><a class="c5" href="https://www.google.com/url?q=https://www.facebook.com/about/privacy/&amp;sa=D&amp;ust=1512488680633000&amp;usg=AFQjCNHBPVLnUXTKPJcLCkrix9Mfjz472Q">&nbsp;</a></span>
            <span class="c6"><a class="c5" href="https://www.google.com/url?q=https://www.facebook.com/about/privacy/&amp;sa=D&amp;ust=1512488680633000&amp;usg=AFQjCNHBPVLnUXTKPJcLCkrix9Mfjz472Q">Facebook&#39;s privacy policy</a></span>
            <span class="c1">.</span>
        </p>
        <p class="c0 c3"><span class="c1"></span></p>
        <p class="c0 c3"><span class="c2 c8"></span></p>

    </div>
</div>
