
body {
    margin-left: 5%;
    margin-right: 5%;
}

/* Put icons in circles */
#badge-area .glyphicon {
    background-color: rgb(128, 128, 128);
    color: white;
    font-size: 30px;
    opacity: .5;
    padding: 30px;
    font-size: 30px;
    border-radius: 50px;
}

#badge-area .glyphicon:hover {
    border: 6px dashed red;
    padding: 24px;
    border-radius: 50px;
}

#badge-area .glyphicon-selected {
    border: 6px solid red;
    padding: 24px;
    border-radius: 50px;
    opacity: 1;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#improvements-area table {
    width: 400px;
}

#badge-area tr {
    margin-top: 10px;
    height: 60px;
}

#improvements-area tr {
    margin-top: 10px;
    height: 40px;
}

#star-area .glyphicon {
    color: gray;
    opacity: .5;
    font-size: 50px;
}

.starred {
    opacity: 1 !important;
    color: rgb(255, 196, 0) !important;
}

.btn{
    min-width: 110px;
    border: solid rgb(108, 155, 209);
    border-radius: 10px;
}