

div#star-area span {
    color: rgb(255, 230, 0);
    font-size: 20px;
}

table {
    border: solid gray;
}

div.holder {
    background: #fff;
    width: 100%;
    margin: auto;
    padding: 30px;
    min-width: 320px;
    max-width: 700px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

h4 {
    text-align: left;
}