div#star-area span {
    color: var(--main);
    font-size: 20px;
}

div#banner {
    /* Credit: https://maxoffsky.com/maxoffsky-blog/free-wallpapers-generator-delaunay-triangulation-patterns/ */
    background-image: url("https://maxoffsky.com/word/wp-content/uploads/2014/04/andreasbg.png");
    background-size: cover;
    padding-bottom: 1.2em;
    padding-top: 2.5em;
}

table {
    width: 100%;
}

div.holder {
    background: #fff;
    width: 100%;
    margin: auto;
    padding: 30px;
    min-width: 320px;
    max-width: 700px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 3px;
}

.bottombar {
    border-bottom: 6px solid #cdcdcd !important;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    /* border: 1px solid #373737; */
    background-color: #fff;
}

/* Style the buttons inside the tab */
div.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #373737 !important;

}

/* Change background color of buttons on hover */
div.tab button:hover {
    /* background-color: #cdcdcd; */
    color: var(--main) !important;
    border-bottom-color: var(--main) !important;
}

/* Create an active/current tablink class */
div.tab button.active {
    /* background-color: #ccc; */
    /* border-color:#373737!important; */
    color: #fff !important;
    border-bottom: 6px solid !important;
    border-bottom-color: var(--secondary) !important;
    
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.container {
    margin-bottom: 30px;
}

#convo-button {
     width: auto;  
     height: 3em;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #fff;
}

h4 {
    text-align: left;
}

/* Style history tab */

.c-search > .form-control {
   border-radius: 0px;
   border-width: 0px;
   border-bottom-width: 1px;
   font-size: 1.3em;
   padding: 12px 12px;
   height: 44px;
   /* outline: none !important; */
}
.c-search > .form-control:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
}
.c-search > .input-group-btn .btn {
   border-radius: 0px;
   border-width: 0px;
   border-left-width: 1px;
   border-bottom-width: 1px;
   height: 44px;
}

.c-list {
    padding: 0px;
    min-height: 44px;
}

ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

ul.c-controls li {
    margin-top: 8px;
    float: left;
}

ul.c-controls li a {
    font-size: 1.7em;
    padding: 11px 10px 6px;   
}
ul.c-controls li a i {
    min-width: 24px;
    text-align: center;
}

ul.c-controls li a:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
    font-size: 1.7em;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
}

.c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}

